<% if mockups.any? %>
  <table id="mockups">
    <thead>
      <tr>
        <th>Template</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% mockups.each do |mockup| %>
        <tr>
          <td>
            <strong>
              <%= link_to mockup.name, great_pretender_mockup_path(mockup) %>
            </strong>
          </td>
          <td>
            <%= time_ago_in_words(mockup.updated_at) %> ago
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No mockups found. Add a template file to <code><%= mockup_root %></code> to
    see it listed here.
  </p>
<% end %>

